<!DOCTYPE html>
<html>
<head>
  <title>D3 Visualisation</title>
  <script type="text/javascript" src="/javascripts/main.js"></script>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>